/* Coolors Exported Palette - coolors.co/ed6a5a-f4f1bb-9bc1bc-5ca4a9-e6ebe0 */

/* HSL */
$color1: hsla(7%, 80%, 64%, 1);
$color2: hsla(57%, 72%, 85%, 1);
$color3: hsla(172%, 23%, 68%, 1);
$color4: hsla(184%, 31%, 51%, 1);
$color5: hsla(87%, 22%, 90%, 1);
$color6: hsla(186%, 71%, 31%, 1);
$color7: hsla(194%, 85%, 21%, 1);
$color8: hsla(2%, 70%, 53%, 1);
$color9: hsla(40%, 100%, 67%, 1);

/* RGB */
$color1: rgba(237, 106, 90, 1);
$color2: rgba(244, 241, 187, 1);
$color3: rgba(155, 193, 188, 1);
$color4: rgba(92, 164, 169, 1);
$color5: rgba(230, 235, 224, 1);
$color6: rgba(23, 126, 137, 1);
$color7: rgba(8, 76, 97, 1);
$color8: rgba(219, 58, 52, 1);
$color9: rgba(255, 200, 87, 1);
$color10: rgb(240, 240, 240);
$firstbackground: antiquewhite;
$firstbackground-login:mistyrose;
$firstbackgroung-register: aliceblue;